html, body, figure, div, input, textarea,
p, h1, h2, h3, h4, h5, h6, ul {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
  font-family: sans-serif;
  list-style: none;
}

.game {
  display: flex;
}

.field, .field-enemy {
  margin: 5px;
  width: 810px;
  height: 810px;
  display: grid;
  grid-template-columns: 100px repeat(7, 1fr);
  grid-template-rows: 100px repeat(7, 1fr);
  border: black solid 5px;
  background-image: url(../img/Ocean-bg.png);
}

.field div {
  width: 100px;
  height: 100px;
}

.ship {
  background-color: grey;
  grid-row-start: 2;
  grid-column-start: 3;
  grid-column-end: 6;
}

.ship2-1, .ship2-2, 
.ship3-1, .ship3-2, .ship3-3,
.ship4-1, .ship5-1 {
  height: 100px;
  width: 100px;
}

.ships-menu ul {
  display: flex;
  justify-content: space-between;
  width: 800px;
  margin: 5px;
}

.ships-menu li {
  background-color: aquamarine;
  padding: 5px;
}

.ships-menu li:hover {
  cursor: pointer;
}